@model SearchFuelConsumptionViewModel
@{
    ViewData["Title"] = "Поиск расхода топлива";
}
<h2>Поиск расхода топлива</h2>

<form asp-controller="Fuel" asp-action="SearchFuel">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Number">Номер машины</label>
        <span asp-validation-for="Number" style="color:red;"></span>
        <input asp-for="Number" value="@Model.Number" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Mounth">Месяц(например: январь)</label>
        <span asp-validation-for="Mounth" style="color:red;"></span>
        <input asp-for="Mounth" value="@Model.Mounth" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Year">Год (например: 2022)</label>
        <span asp-validation-for="Year" style="color:red;"></span>
        <input asp-for="Year" value="@Model.Year" class="form-control" />
    </div>

    <div class="form-check">
        <input class="form-check-input" asp-for="@Model.WatchNumber" type="radio" id="exampleRadios1" value="1">
        <label class="form-check-label" for="exampleRadios1">
            Первая вахта
        </label>
    </div>

    <div class="form-check">
        <input class="form-check-input" asp-for="@Model.WatchNumber" type="radio" id="exampleRadios2" value="2">
        <label class="form-check-label" for="exampleRadios2">
            Вторая вахта
        </label>
    </div>
    <div class="col d-grid">
        <input type="submit" class="btn btn-primary m-2" value="Поиск" />
    </div>

</form>
<div class="col d-grid">
    <a asp-controller="Fuel" asp-action="Index" class="btn btn-primary m-2">Назад</a>
</div>